[filter "lfs"]
        clean = git-lfs clean -- %f
        smudge = git-lfs smudge -- %f
        process = git-lfs filter-process
        required = true
[credential]
        helper = store
[alias]
        wta = "!f() { git worktree add -b \"$1\" \"../$1\"; }; f"
        wtr = "!f() { git worktree remove \"../$1\"; }; f"
        wtl = "!f() { git worktree list; }; f"
